//$backgroundColor: #dcbb9a;
//$briefBackgroundColor:#dcbb9a;
//$bodyBackgroundColor:#ffffff;
//$headingColor: #893c00;
//$reflinkColor:#3d70a1;
//$tableHeaderColor:#e0e0e0;
//$tableBackgroundColor: white;
//$textColor: #000000;
//$formTextColor:#808080;

$bgColor: #dcbb9a;
$briefBgColor: #dcbb9a;
$contentBgColor: #ffffff;
$titleColor: #893c00;
$linkColor: #3d70a1;
$tableTitleBgColor: #e0e0e0;
$tableBgColor: #ffffff;
$textColor: #000000;
$formTextColor: #808080;
$uppercaseH1: false;