//$backgroundColor: rgba(198, 238, 252, 0.53);
//$briefBackgroundColor:#fff178;
//$bodyBackgroundColor:#3b3b3b;
//$headingColor: #fccd10;
//$reflinkColor:#f5c70f;
//$tableHeaderColor:#94a34e;
//$tableBackgroundColor:#677d01;
//$textColor:white;
//$formTextColor:#fccd10;

$bgColor: rgba(198, 238, 252, 0.53);
$briefBgColor: #fff178;
$contentBgColor: #3b3b3b;
$titleColor: #fccd10;
$linkColor: #f5c70f;
$tableTitleBgColor: #94a34e;
$tableBgColor: #677d01;
$textColor: #ffffff;
$formTextColor: #fccd10;
$uppercaseH1: true;